<li>
  <div class="pet">
  <h2>{{name}}</h2>
  <img class="img-circle" src="{{image}}" alt="{{name}}">
  <br>
  <div>{{relationshipToMe}}</div>
  <div>{{gender}}{{type}}</div>
  <div>{{description}}</div>
  </div>
</li>

